<!-- /*Harsh Kumar
ID: 301217982*/ -->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  
  <!--Main Content for about me page-->
  <main class="container" style="background-color: lightgrey; text-align: center;">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
    </div>
  </main>
  <br><br>
  <!-- about section-->
  <section id="about">
    <div class="container mt-4 pt-4">
        <!-- <h1 class="text-center">About Me</h1> -->
        <br>
        <div class="row mt-4">
            <div class="col-lg-4">
                <img src="/Assets/images/Harsh_kumar.jpg" style="width: 85%; height: 80%;" >
            </div>

            <div class="col-lg-8">
                <p> I am a Student studing at centennial collge in the software engineering technology: Artifical Inteligence program. I enjoy playing sports and playing 
                    video games.
                </p>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <ul>
                            <li>Name: Harsh Kumar </li>
                            <li>Age: 21</li>
                            <li>Occupation: Student</li>

                        </ul>
                    </div>
                </div>
                <div class="row mt-3">
                    <p>Strength isnt always shown in what you can hold on to, sometimes its shown in what you can let go of.”</p>
                    <a href="/Harsh_kumar_res.pdf" style="text-decoration: none; color: grey;"><h5>Resume</h5></a>
                </div>
            </div>
        </div>
</section>

  

  <%- include partials/bottom_nav.ejs %>


  <%- include partials/footer.ejs %>


