<!-- /*Harsh Kumar
ID: 301217982*/ -->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  
  <!--Main Content for about me page-->
  <main class="container" style="background-color: lightgrey; text-align: center;">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
    </div>
  </main>
  <br><br>
  <div style="text-align: center;">
    <img src="/Assets/images/project1.png" style="height: 500px; width: 700px;"><br>
    <h3>Feedback Form</h3>
    <p>A basic Course feedback form </p>
    <br><br>
    <img src="/Assets/images/project2.png" style="height: 500px; width: 700px;"><br>
    <br>
    <h3>Realtor's website</h3><br>
    <p>A group project to design and implement a javascript DOM to make fulfleged Realtor website</p>
    <br><br>
    <img src="/Assets/images/project3.png" style="height: 500px; width: 700px;"><br>
    <br>
    <h3>Photo Gallery</h3><br>
    <p>Photo gallery website created using basis of font-end.</p>
    <br><br>
  </div>


  

  <%- include partials/bottom_nav.ejs %>


  <%- include partials/footer.ejs %>



